.todo-list-item {
    padding: 2px 4px;
    display: flex;
    align-items: center;
}

.todo-list-item-label {
    font-size: 1.25rem;
    margin: 0 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
}

.todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: #3f51b5;
}
